* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    background-color: rgba(0, 255, 255, 0.363);
    height: calc(100vh - 0px);
    overflow: hidden;
}

.section .section-div {
    width: 1000vw;
    height: 100%;    
}


.section-div .div {
    
    width: 100vw;
    height: 100vh;
    
    display: inline-block;
}

.section-div-ponto{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -105px;
}

.section-div-ponto .ponto, .ponto2, .ponto3 {
    background-color: rgba(0, 0, 0, 0.479);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    cursor: pointer;
   
}

.ponto:hover, .ponto2:hover, .ponto3:hover {
    background-color: rgba(23, 23, 190, 0.459);
}

.section-div-ponto .active {
    background-color: rgb(137, 199, 22);
}